* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 4%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Secular One', sans-serif;
}

.body.lightTheme {
  background-image: linear-gradient(145deg, rgba(255, 255, 255,1), rgb(208, 200, 243));
}

.clock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  height: 250px;
  border: 1px solid gray;
  box-shadow: 0 0 5px blue, 0 0 25px rgb(74, 74, 221);
  color: black;
  position: relative;

  .def {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: space-evenly;
    text-align: center;

    span {
      width: 180px;
      color: hsl(0, 0%, 100%);
      font-size: 24px;
      text-shadow: 0 2px 5px gray;
    }
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 175px;
    background-color: #e7e7e775;

    span {
      font-size: 130px;
    }
  }
}

.clock.lightTheme {
  color: rgb(45, 56, 206);
  box-shadow: 0 0 5px rgb(51, 51, 51), 0 0 25px rgb(27, 27, 27);

  .box.lightTheme {
    background-color: rgb(209, 209, 209);
  }  

  .def.lightTheme {
    span {
      color: hsl(0, 20%, 5%);
    }
  }
}

.themeToggle {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100px;
  height: 65px;
  border-radius: 50px;
  background-color: rgb(49, 49, 45);
  cursor: pointer;
  position: relative;
  transition: background-color 1s;

  .onOff {
    display: flex;
    position: absolute;
    height: 95%;
    width: 60px;
    border-radius: 50%;
    background-image: linear-gradient(-100deg, rgb(117, 113, 113), #000);
    transition: .7s ease-in-out;
  }
}

.themeToggle.active {
  background-color: hsla(246, 35%, 44%, 0.199);
  
  .onOff.active {
    background-image: linear-gradient(90deg, rgb(15, 15, 17), rgb(212, 211, 211));
    transform: translateX(40px);
  }
}

// MEDIA
@media (max-width: 720px) {
  .clock {
    flex-direction: column;
    height: 550px;
    width: 250px;
    position: relative;
    border: none;
  }

  .def {
    position: absolute;
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    align-items: right;

    span {
      height: 180px;
    }
  }
}